<!doctype html>
<html lang="en">

<head>
    <%- include("partials/head") %>
</head>

<body>
    <h1>Admin - Actualizar (<%= data.nombre %>)</h1>
    
    <form action="/admin/usuarios/<%= data.id %>" method="post">
        <label for="">
            Nombre
            <input type="text" name="nombre" value=<%= data.nombre %> >

            <input type="submit" value="Actualizar">
        </label>

    </form>


    <%- include("partials/footer") %>
</body>

</html>