<!doctype html>
<html lang="en">
  <head>
   <%- include('./partials/head.ejs') %>
  </head>
  <body class="container">
    <h1 >Usuarios</h1>

    <div class="container">
        <div class="row">
            <% data.forEach(element => { %>
  
                <div class="col-3">
                    <div class="card text-bg-secondary">
                        <img src="<%= element.imagen %>" class="card-img-top " alt="...">
                        <div class="card-body">
                            <h2 class="card-title h5"><%= element.nombre %> ( <%= element.edad %> )</h2>
                            <ul>
                                <li><p class="card-text"><%= element.email %></p></li>
                                <li><p class="card-text"><%= element.telefono %></p></li>
                                <li><p class="card-text"><%= element.ciudad %></p></li>
                            </ul>
                            <a href="/usuarios/<%= element.id %>" class="btn btn-info">Mostrar</a>
                        </div>
                    </div>
                </div>
            <% } );  %>
        </div>
    </div>
        
    <!-- footer incluido desde el partial footer.ejs-->
    <%- include('./partials/footer.ejs') %>
  </body>
</html>